html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-image: url('/bg.png');
  height: 280vh;
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
  /* background-position: left top; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #060b27 !important;
}
